@import "../../assets/styles/variables.scss";

nav {
    background-color: $background-peach;
    display: flex;
    padding: 10px 2rem;
    justify-content: space-between;
    width: 100vw;
    .search {
        position: relative;
        input {
            border: none;
            border-radius: 10px;
            width: 30%;
            padding: 10px;
        }
        .search-icon {
            position: absolute;
            top: 5px;
            left: 10px;
        }
    }
    .navigation {
        display: flex;
        gap: 10px;
    }
}