@import "../../assets/styles/variables.scss";

.payment-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 2rem 1rem;
    .navigate-back {
        display: flex;
        gap: 20%;
        margin: 1rem 0 3rem 0;
        img {
            width: 25px;
            transform: rotate(90deg);
        }
    }
    .method {
        border: 1px solid $font-light;
        padding: 5px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
        .card-icon {
            width: 40px;
        }
        .delete {
            width: 30px;
        }
    }
    .chosen {
        border: solid 2px $main-blue;
    }
    .payment-add {
        background-color: $main-blue;
        color: white;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        width: fit-content;
        margin-left: 20%;
    }
}
.new-container {
    background-color: rgb(103, 102, 98, 0.6);
    padding: 40% 10%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    .new-form {
        background-color: white;
        padding: 2rem;
        position: relative;
        border-radius: 10px;
        h4 {
            color: $font-dark;
            font-family: $font-primary;
            text-align: center;
        }
        .close {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 40px;
        }
        .new-icon {
            margin: 1rem 0;
            display: flex;
            justify-content: center;
            img {
                width: 40px;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            input {
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid $background-grey;
            border-radius: 5px;
            background-color: $background-grey;
            height: 40px;
            &:focus {
              border: 2px solid $main-pink;
              outline: none;
              box-shadow: 0px 0px 5px 2px $background-peach;
            }}
            .new-button {
                padding: 10px;
                width: 140px;
                background-color: $main-pink;
                color: $font-dark;
                font-weight: 500;
                font-size: 18px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                align-self: center;
            }
        }
    }
}