@import "./../../assets/styles/reset.scss";
@import "./../../assets/styles/variables.scss";

.profileEdit {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;

  .profileEdit-up {
    display: flex;
    gap: 10px;
  }

  .content-user {
    display: flex;
    flex-direction: column;
    align-items: center;

    .photo-user {
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .edit-section {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &-date {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &__label {
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 600;
        color: $font-light;
      }
      &__input {
        font-family: $font-primary;
        border: none;
        font-size: 14px;
        border-bottom: 1px solid #000;
        outline: none;
        background: transparent;
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }
  }

  .content-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 150px;

    .button-save {
      padding: 10px;
      width: 100px;
      background-color: $main-pink;
      color: $font-dark;
      font-weight: 500;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .close-sesion {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.profileEdit-desktop{
  display: none;
}

@media (min-width: 768px) {
  .profileEdit{
    display: none;
  }
.profileEdit-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
.divpro{
  display: flex;
  span{
      text-align: center;
      font-family: $font-secondary;
      color: $font-light;
      font-weight: 400;
    
  }
}
  &__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 600px;
    h2 {
      text-align: center;
      font-family: $font-secondary;
      color: $font-dark;
      font-weight: 900;
    }
    &__figure {
      display: flex;
      width: 70px;
      height: 70px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;

      label {
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 600;
        color: $font-light;
      }

      input {
        padding: 8px;
        border-radius: 8px;
        font-family: $font-primary;
        border: none;
        font-size: 14px;
        border: 1px solid $font-dark;
        box-shadow: 5px 0 5px -5px $font-dark, -5px 0 5px -5px $font-dark,
          0 5px 5px -5px $font-dark;
        &:focus {
          border: 2px solid $main-pink;
          outline: none;
          box-shadow: 0px 0px 5px 2px $background-peach;
        }
      }
    }

    &__button {
      display: flex;
      padding: 10px 0;

      button {
        padding: 10px;
        width: 100px;
        background-color: $main-pink;
        color: $font-dark;
        font-weight: 500;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 500px;
      }
    }
  }

  &__cerrar {
    display: flex;
    padding: 6px 20px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
}