@import "../../assets/styles/variables.scss";

.product-main {
    background-color: white;
    padding: 0 0 5rem 0;
    font-family: $font-secondary;
    color: $font-dark;
    // .main-image {

    // }
}