@import "../../assets/styles/variables.scss";

header {
    display: none;
}
.product-main {
    background-color: white;
    padding: 0 0 4rem 0;
    font-family: $font-secondary;
    color: $font-dark;
    .main-image {
        width: 100%;
        height: 40vh;
        position: relative;
        .main-product-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .back {
            background-color: white;
                border-radius: 50%;
                padding: 5px 5px 0 5px;
                position: absolute;
                top: 1rem;
                left: 1rem;
                img {
                    width: 25px;
                    transform: rotate(90deg);
                }
        }
        .like {
            background-color: white;
                border-radius: 50%;
                padding: 5px 5px 0 5px;
                position: absolute;
                top: 1rem;
                right: 1rem;
                img {
                    width: 25px;
                }
        }
    }
    .secondary-images {
        display: flex;
        margin: 1rem;
        gap: 1rem;
        img {
            width: 50px;
        }
    }
    .product-info {
        margin: 1rem;
        .availability {
            color: $font-light;
            font-size: 12px;
        }
        h2 {
            font-family: $font-primary;
            font-size: 24px;
            font-weight: 600;
            text-align: left;
            padding: 5px 0 10px 0;
        }
        .desktop-price {
            display: none;
        }
        .delivery {
            font-weight: 700;
        }
        .shop-info {
            font-family: $font-primary;
            display: flex;
            align-items: center;
            margin-top: 10px;
            gap: 10px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .description {
            font-weight: 600;
            padding: 10px 0 5px 0;
            font-size: 18px;
        }
    }
    .desktop-add-button{
        display: none;
    }
    .more-products {
        margin: 1rem;
        h4 {
            font-weight: 600;
            padding-bottom: 10px;
            font-size: 18px;
        }
        .shop-cards-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            .card {
                border-radius: 10px;
                width: 150px;
                height: 150px;
                background-color: $background-grey;
                position: relative;
                padding-bottom: 5px;
                img {
                    width: 100%;
                    height: 50%;
                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                }
                h4 {
                    padding: 5px  0 0 10px;
                    font-size: 14px;
                }
                .price {
                background-color: white;
                border-radius: 10px;
                padding: 5px;
                width: fit-content;
                margin-left: 40%;
            }
            .like {
                background-color: white;
                border-radius: 50%;
                padding: 5px 5px 0 5px;
                position: absolute;
                top: 5px;
                right: 5px;
                img {
                    width: 20px;
                }
            }
            }
        }
    }
    .product-footer {
        background-color: $background-peach;
        display: flex;
        padding: 10px 2rem;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        .product-counter {
            background-color: white;
            padding: 10px 1rem;
            border-radius: 10px;
            display: flex;
            gap: 1rem;
            align-items: center;
        }
        .product-add {
            background-color: $main-blue;
            color: white;
            padding: 10px 1rem;
            border-radius: 10px;
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }
}

@media (min-width: 650px) {
    header {
        display: flex;
    }
.product-main {
    padding: 1rem;
    .desktop-product-container{
        display: flex;
        gap: 1rem;
    
    .main-image {
        max-width: 40%;
        height: 60vh;
        .back {
        display: none;
    }
    }
    .secondary-images {
        flex-direction: column;
        img {
            width: 70px;
        }
    }
    .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .desktop-price {
            display: flex;
            justify-content: space-around;
            padding: 1rem 0;
            align-items: center;
            span {
                font-size: 36px;
                font-weight: 700;
                font-family: $font-primary;
            }
            .desktop-quantity {
                display: flex;
                gap: 10px;
                align-items: center;
                select {
                    border: 1px solid $font-dark;
                    border-radius: 10px;
                    padding: 5px 10px;
                }
            }
        }
        .desktop-shop-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
            .shop-info {
                margin-top: 0;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    
    .desktop-add-button {
        display: inline-block;
        background-color: $main-blue;
        color: white;
        padding: 15px 25px;
        font-size: 24px;
        border-radius: 10px;
        border: none;
        width: fit-content;
        align-self: flex-end;
    }
}
}
.more-products .shop-cards-container .card {
    display: flex;
            width: 300px;
            height: 150px;
            padding-bottom: 0;
            h4 {
                margin-top: 1rem;
                font-size: 18px;
            }
            img {
                height: 100%;
                width: 50%;
                border-radius: 10px 0 0 10px;
            }
            .price {
                flex-direction: column;
                gap: 30px;
                margin-top: 20%;
                margin-left: 10%;
            }
            .like {
                top: 75%;
            }
}
    .product-footer {
        display: none;
    }
    }
}

@media (min-width: 1000px) {
    .product-main {
        padding: 1rem 10%;
    }
}