@import "../../assets/styles/variables.scss";

.time {
    margin-top: 5px;
    p {
        color: $font-light;
        font-size: 12px;
    }
    .choice {
        font-family: $font-primary;
        display: flex;
        gap: 10px;
        font-size: 14px;
        img {
            width: 20px;
        }
    }
}