@import "./../../assets/styles/reset.scss";
@import "./../../assets/styles/variables.scss";

.navseller-dekstop {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center; 
    gap: 50px;
  &-left{
    display: flex;
    flex-direction: column;
    gap: 40px;
    &-navlink{
        text-decoration: none;
        &-span {
            font-family: $font-secondary;
            font-weight: 400;
            color: $main-blue;
            margin-left: 10px;
          }
      }
  }
 
 
  .button-divider-dekstop {
  &-right{
    width: 1px;
    height: 100px;
    background-color: $main-blue;
    transform: rotate(0deg);
    margin-top: 0px;
  }
    
  }
}
