@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

$main-blue: #9ca0ec;
$main-pink:#EDC4D6;
$background-peach: #FFEAE5;
$background-grey: #EFF0EB;
$light-grey: #D1CDC2;
$font-light: #A8A294;
$font-dark: #676662;
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;