@import "./../../assets/styles/reset.scss";
@import "./../../assets/styles/variables.scss";

.profile-seller-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;

  h3 {
    text-align: center;
  }

  &-section {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0;
    gap: 20px;

    &-div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-edit{
        display: flex;
        align-items: center;
        gap: 15px;
      }

      &__input {
        font-family: $font-primary;
        border: none;
        font-size: 14px;
        border-bottom: 1px solid $font-light;
        outline: none;
        background: transparent;
        padding: 0;
        margin: 0;
        width: 100%;

        &__button {
          padding: 5px;
          width: 100px;
          background-color: #edc4d6;
          color: #676662;
          font-weight: 500;
          font-size: 14px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

      }
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        text-align: start;
      }

      &-logo {
        width: 80px;
        height: 80px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
      }

      &-img {
        width: 300px;
        height: 100px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          object-fit: cover;
        }
      }
    }

    .iconedit {
      width: 30px;
      height: 30px;

      //  position: relative;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;

    .button-close {
      padding: 10px;
      width: 180px;
      background-color: #edc4d6;
      color: #676662;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

}

.profile-page-dekstop {
  display: none;
}

@media (min-width: 768px) {
  .profile-seller-mobile {
    display: none;
  }

  .profile-page-dekstop {
    display: block;

    h3 {
      text-align: center;
      font-family: $font-secondary;
      color: $font-dark;
      font-weight: 900;
    }

    &__logo {
      display: flex;
      align-items: center;

      h1 {
        font-family: $font-primary;
        color: $main-pink;
        font-weight: 600;
      }
    }

    &__information {
      display: flex;
      justify-content: flex-start;
      margin: 20px;

      &-info {
        width: 700px;
        margin-left: 20px;
      }
    }

    .profile-seller-mobile-section {
      &-div {
        .column {

          span,
          p {
            font-size: 14px;
            font-family: $font-secondary;
            color: $font-dark;
          }

          &-imga {
            width: 500px;
            height: 100px;
            //  position: absolute;

            img {
              width: 100%;
              height: 100%;
              border-radius: 20px;
              object-fit: cover;
            }
          }
        }
      }
    }

    .button-close {
      padding: 10px;
      width: 180px;
      background-color: #edc4d6;
      color: #676662;
      font-weight: 500;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      margin-left: 400px;
      margin-bottom: 20px;
      cursor: pointer;
    }
  }
}
@media (min-width: 815px) {
  .profile-seller-mobile {
    display: none;
  }

  .profile-page-dekstop {
    display: block;

    &__information {
     

      &-info {
        width: 700px;
        margin-left: 50px;
      }
    }

  }
}
@media (min-width: 870px) {
  .profile-seller-mobile {
    display: none;
  }

  .profile-page-dekstop {
    display: block;

    &__information {
     

      &-info {
        width: 700px;
        margin-left: 90px;
      }
    }

  }
}
@media (min-width: 967px) {
  .profile-seller-mobile {
    display: none;
  }

  .profile-page-dekstop {
    display: block;

    &__information {
     

      &-info {
        width: 700px;
        margin-left: 200px;
      }
    }

  }
}

